<app-header></app-header>

<div class="campaign-content-container">
    <main>
        <h2>Campaign - Manage</h2>

        @if (campaign) {
            <form class="manage-campaign" name="manage-campaign">
                <h3>
                    @if (editingCampaignName) {
                        <label>
                            <span class="accessible-hidden">New campaign name: </span>
                            <input type="text" name="edit-name" #campaignName value="{{ campaign.name }}" (blur)="updateCampaignName()"/>
                        </label>
                    } @else {
                        <span (dblclick)="editCampaignName()">{{ campaign.name }}</span>
                    }
                    <div class="campaign-actions">
                        <button type="button" class="copy-campaign-link" (click)="copyCampaignLink($event)">
                            <app-copy-icon/>
                            <app-toast #toastComponent>Campaign link copied.</app-toast>
                        </button>
                    </div>
                </h3>

                @if (editingCampaignDescription) {
                    <textarea name="campaignDescription" #campaignDescription (blur)="updateCampaignDescription()">{{ campaign.description }}</textarea>
                } @else {
                    <p (dblclick)="editCampaignDescription()">{{ campaign.description }}</p>
                }

                @if (campaign.owner) {
                    <div class="maps">
                        <h4>Campaign Maps</h4>
                        <button type="button" class="fantasy-btn" (click)="showAddMapForm = !showAddMapForm">New Map</button>

                        @if (showAddMapForm) {
                            <form name="addMapForm" (submit)="addMapHandler()">
                                <label>Map Name:
                                    <input type="text" name="name" required #name>
                                </label>
                                <label>Description:
                                    <input type="text" name="description" required #description>
                                </label>

                                <label>Image:
                                    <input type="file" name="image" #image (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png"/>
                                    @if (fileError) {
                                        <div class="error">{{ fileError }}</div>
                                    }
                                    <div class="filename">{{ fileName || "No file uploaded yet." }}</div>
                                    <button
                                        type="button"
                                        class="file-upload fantasy-btn"
                                        (click)="image.click()"
                                    >Upload Image</button>
                                </label>

                                <button type="submit" class="fantasy-btn fantasy-blue">Add Map</button>

                            </form>
                        }

                        <ul class="map-preview-list">
                            @for (map of campaign.maps; track map.guid) {
                                <li class="map">
                                    <app-map-preview [campaignMap]="map" [campaignGuid]="campaign.guid"/>
                                </li>
                            }
                        </ul>
                    </div>
                }

                <div class="char-list-panel">
                    <h4>Campaign Characters</h4>

                    <ul>
                        @for (character of campaign.players; track character.guid) {
                            <li class="char-panel">
                                <span class="char-image">
                                    <app-portrait [character]="character"/>
                                </span>

                                <span class="char-details">
                                    <div class="char-name">{{ character.name }}</div>
                                    <div>Level {{ character.level }} {{ character.charRace }} {{ character.charClass }}</div>

                                    <div class="char-actions">
                                        <!-- only allow owner of campaigh or owner of specific user to remove it from campaign -->
                                        @if (campaign.owner || doesCharacterBelongToMe(character.guid)) {
                                            <button
                                                type="button"
                                                class="fantasy-btn fantasy-brown"
                                                (click)="removeCharacterFromCampaign(character)"
                                            >
                                                Remove
                                            </button>
                                        }
                                    </div>
                                </span>
                            </li>
                        }
                    </ul>
                </div>

                <div class="char-list-panel">
                    <h4>Add Character to Campaign</h4>

                    <ul>
                        @for (character of characters; track character.guid) {
                            @if (!isCharacterPartOfCampaign(character.guid)) {
                                <li class="char-panel">
                                    <span class="char-image">
                                        <app-portrait [character]="character"/>
                                    </span>

                                    <span class="char-details">
                                        <div class="char-name">{{ character.name }}</div>
                                        <div>Level {{ character.level }} {{ character.charRace }} {{ character.charClass }}</div>

                                        <div class="char-actions">
                                            <button
                                                type="button"
                                                class="fantasy-btn fantasy-blue"
                                                (click)="addCharacterToCampaign(character)"
                                            >
                                                Add to campaign
                                            </button>
                                        </div>
                                    </span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </form>
        }
    </main>
</div>
