@use "../colours";

app-campaign-map {
    display: flex;
    flex-flow: column;
    height: 100%;

    app-header-slim {
        flex: 0 1 auto;
    }
}

.campaign-map-container {
    display: grid;
    grid-template-areas: "sidebar map settings";
    grid-template-columns: auto minmax(0, 1fr);
    flex: 1 1 auto;

    .map-actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        grid-area: sidebar;
        width: 4rem;

        button {
            align-items: center;
            background-color: colours.$light-grey;
            border-radius: .5rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: .5rem;

            &:hover {
                background-color: colours.$dark-grey;
                color: colours.$white;

                svg {
                    stroke: colours.$white;
                }
            }

            &.active {
                background-color: colours.$gold;

                &:hover {
                    background-color: colours.$primary-btn-50;
                    color: colours.$white;

                    svg {
                        stroke: colours.$white;
                    }
                }
            }

            svg {
                height: 1.5rem;
                margin-top: .25rem;
                width: 1.5rem;
            }
        }
    }

    .campaign-map {
        grid-area: map;
        overflow: auto;

        .map {
            position: relative;

            svg.map-interactive {
                position: absolute;

                g.selected {
                    animation-direction: alternate;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-name: creature-glow;
                }

                @keyframes creature-glow {
                    from {
                        filter: drop-shadow(0 0 0 colours.$glow-off);
                    }
                    to {
                        filter: drop-shadow(0 0 10px colours.$glow-on);
                    }
                }

                .creature-label {
                    rect {
                        fill: rgba(255, 255, 255, 0.6);
                    }

                    text {
                        font-size: 1rem;
                    }
                }

            }

            img.map-image {
                position: absolute;
            }
        }
    }

    .map-settings {
        background-color: colours.$white;
        grid-area: settings;
        max-height: 90vh;
        max-width: 30rem;
        overflow: auto;
        position: relative;
        width: 22rem;

        legend {
            text-transform: capitalize;
        }

        .tabs {
            .creater-panel {
                overflow: auto;

                label {
                    display: block;
                }
            }

            .creature-list {
                align-items: stretch;
                display: flex;
                flex-wrap: wrap;
                margin: 1rem 0;
                padding: 0;

                li {
                    display: inline-block;
                }

                .character,
                .creature {
                    align-items: center;
                    appearance: none;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    gap: .5rem;
                    width: 6rem;

                    &:hover {
                        background-color: colours.$light-grey;
                    }

                    img {
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }

        .radio-collection {
            display: flex;
            flex-wrap: wrap;
        }

        label.radio-label {
            cursor: pointer;
            padding: 0;

            input {
                clip: rect(1px 1px 1px 1px);
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;

                &:checked + svg,
                &:checked + * svg {
                    background-color: colours.$gold;
                }
            }

            svg {
                padding: .25rem;
            }
        }

        .selected-entity-form {
            details {
                border: 1px solid colours.$dark-grey;
                border-radius: .5rem;
                margin-bottom: 1rem;
            }

            summary {
                background-color: colours.$light-grey;
                cursor: pointer;
                padding: .5rem;
            }

            .selected-entity-details-content {
                padding: .5rem;
            }
        }

        .selected-entity-actions {
            button {
                margin-right: .5rem;
            }
        }

        .selected-entity-details {
            dl {
                display: grid;
                grid-template-columns: auto 1fr;
                row-gap: .5rem;
            }

            ul {
                margin: 0.25rem auto;
                padding-left: 1rem;
            }
        }

        .selected-entity-abilities,
        .selected-entity-skill-proficiencies,
        .selected-entity-saving-throws {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .selected-entity-senses dl {
            margin: 0;
        }

        .selected-entity-resistances,
        .selected-entity-senses,
        .selected-entity-languages {
            margin-top: 1rem;
        }
    }

    .settings-block-container {
        fieldset {
            margin-top: 1rem;
        }

        label {
            display: block;
        }

        label + label {
            margin-top: 1rem;
        }
    }

    .toast-content {
        background-color: colours.$glow-on;
        left: 50%;
        padding: .5rem;
    }
}

