@use "../colours";

app-campaign-map {
    display: flex;
    flex-flow: column;
    height: 100%;

    app-header-slim {
        flex: 0 1 auto;
    }
}

.campaign-map-container {
    display: grid;
    grid-template-areas: "sidebar map";
    grid-template-columns: auto minmax(0, 1fr);
    flex: 1 1 auto;

    .map-actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        grid-area: sidebar;
        width: 4rem;

        button {
            align-items: center;
            background-color: colours.$light-grey;
            border-radius: .5rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: .5rem;

            &:hover {
                background-color: colours.$dark-grey;
                color: colours.$white;

                svg {
                    stroke: colours.$white;
                }
            }

            &.active {
                background-color: colours.$gold;

                &:hover {
                    background-color: colours.$primary-btn-50;
                    color: colours.$white;

                    svg {
                        stroke: colours.$white;
                    }
                }
            }

            svg {
                height: 1.5rem;
                margin-top: .25rem;
                width: 1.5rem;
            }
        }
    }

    .campaign-map {
        grid-area: map;
        overflow: auto;

        .map {
            position: relative;

            svg.map-interactive {
                position: absolute;
            }

            img.map-image {
                position: absolute;
            }
        }
    }

    /*

    .map-action-settings {
        background-color: rgba(colours.$white, .85);
        left: 6rem;
        position: fixed;
        width: 20rem;
        top: 7rem;

        .close-map-settings {
            appearance: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            right: .25rem;
            top: .25rem;
        }

        form {
            border: none;
            box-shadow: none;
            font-size: 1rem;
            padding: 1rem;
        }

        label {
            display: block;
            margin-bottom: .5rem;
        }

        .radio-collection {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        label.radio-label {
            padding: 0;

            input {
                clip: rect(1px 1px 1px 1px);
                height: 1px;
                overflow: hidden;
                position: absolute;
                white-space: nowrap;

                &:checked + svg,
                &:checked + * svg {
                    background-color: colours.$gold;
                }
            }

            svg {
                padding: .25rem;
            }
        }

        button {
            font-size: 1rem;

            &.large {
                align-items: center;
                display: inline-flex;
                font-size: 1.5rem;
                height: 2rem;
                justify-content: center;
                margin-right: .5rem;
                width: 2rem;
            }

            &.fantasy-btn {
                margin-top: 1rem;
            }
        }

        .object-type {
            margin-bottom: .5rem;
        }



        .creature-list {
            max-height: 20rem;
            overflow-y: auto;
        }
    }*/
}

.map-settings {
    background-color: colours.$white;
    position: relative;

    .tabs {

        .creature-list {
            align-items: stretch;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
            }

            .character,
            .creature {
                align-items: center;
                appearance: none;
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: .5rem;
                width: 6rem;

                &:hover {
                    background-color: colours.$light-grey;
                }

                img {
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                }
            }
        }

        /*.creature-list {
            margin: 2rem 0 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }*/

        /*.character,
        .creature {
            align-items: center;
            appearance: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            justify-items: center;
            gap: .5rem;
            width: 100%;

            &:hover {
                background-color: colours.$light-grey;
            }

            img {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
        }*/
    }
}

.settings-block-container {
    display: flex;
    gap: 1rem;

    label {
        display: block;
    }
}
