@use "../colours";

.campaign-content-container {
    padding: 0 1rem;

    .campaign-list-panel ul {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-width: 50rem;

        .campaigns {
            border: 1px solid colours.$black;
            border-radius: .5rem;
            box-shadow: 2px 2px 7px colours.$medium-grey;
            display: block;
            margin-bottom: 1rem;

            .campaign {
                padding: .5rem;
            }

            .campaign-summary {
                align-items: center;
                display: flex;
                gap: 1rem;
                position: relative;
            }

            .campaign-details {
                border-top: 1px solid colours.$grey;
                margin-top: .5rem;
                padding-top: .5rem;
            }

            .date {
                align-items: center;
                display: flex;
                gap: .5rem;

                svg {
                    height: 1.5rem;
                }
            }

            .campaign-description {
                border: 1px solid colours.$light-grey;
                font-style: italic;
                margin: .5rem 0;
                padding: .25rem;
            }

            .campaign-map-preview {
                margin: 1rem 0;

                .map-name,
                p {
                    display: none;
                }
            }

            .actions {
                display: flex;

                a,
                button {
                    align-items: center;
                    background-color: colours.$light-grey;
                    border: 1px solid colours.$dark-grey;
                    box-sizing: content-box;
                    color: colours.$black;
                    display: flex;
                    height: 2rem;
                    justify-content: center;
                    margin-right: .5rem;
                    padding: 0;
                    width: 2rem;
                }
            }


        }
    }

    .manage-campaign {
        border: 1px solid colours.$dark-grey;
        border-radius: 1rem;
        box-shadow: 2px 2px 7px colours.$medium-grey;
        padding: 1rem;

        h3 {
            display: flex;
            justify-content: space-between;
        }

        .copy-campaign-link {
            position: relative;

            .toast-content {
                right: 0;
            }
        }

        form + details {
            margin-top: 1rem;
        }

        details {
            border: 1px solid colours.$dark-grey;
            border-radius: .5rem;
            box-shadow: 2px 2px 7px colours.$medium-grey;
            margin-bottom: 1rem;
            padding: 0;

            &:not([open]) summary {
                border-radius: .5rem;
            }

            summary {
                background-color: colours.$light-grey;
                border-radius: .5rem .5rem 0 0;
                cursor: pointer;
                padding: .5rem;
            }

            .campaign-block-contents {
                margin: 1rem .5rem;
            }

            form {
                margin-top: 1rem;

                label {
                    margin-bottom: .5rem;
                }

                input[type=file] {
                    display: none;
                }

                .filename {
                    margin: .25rem 0;
                }
            }
        }

        .maps {
            .map-preview-list {
                margin: 1rem 0 0 0;
                padding: 0;
                display: flex;
                gap: 1rem;

                li {
                    list-style: none;
                    width: 200px;
                }

                .map-name {
                    font-weight: bold;
                    height: 2.5rem;
                    width: 100%;
                }
            }
        }
    }
}


