@use "../colours";

.campaign-content-container {
    padding: 0 1rem;

    .campaign-list-panel ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-width: 50rem;

        .campaign {
            border: 1px solid colours.$black;
            border-radius: .5rem;
            box-shadow: 2px 2px 7px colours.$medium-grey;
            display: block;
            margin-bottom: 1rem;

            details {
                padding: .5rem;

                summary:after {
                    content: "+";
                    font-size: 1.5rem;
                    font-weight: bold;
                    position: absolute;
                    right: .25rem;
                    top: -.25rem;
                }

                &[open] summary:after {
                    content: "-";
                }
            }

            summary {
                align-items: center;
                cursor: pointer;
                display: flex;
                gap: 1rem;
                position: relative;
            }

            .campaign-details {
                border-top: 1px solid colours.$grey;
                margin-top: .5rem;
                padding-top: .5rem;
            }

            .campaign-description {
                font-style: italic;
                margin: .5rem 0;
            }

            button {
                margin-right: .5rem;
            }
        }
    }

    .manage-campaign {
        border: 1px solid colours.$dark-grey;
        border-radius: 1rem;
        box-shadow: 2px 2px 7px colours.$medium-grey;
        padding: 1rem;

        .maps {
            background-color: colours.$light-grey;
            border-radius: .5rem;
            padding: .5rem;

            h4 {
                margin: 0 0 1rem;
            }

            form {
                margin-top: 1rem;

                label {
                    display: block;
                    margin-bottom: .5rem;
                }

                input[type=file] {
                    display: none;
                }

                .filename {
                    margin: .25rem 0;
                }
            }

            .map-preview-list {
                margin: 1rem 0 0 0;
                padding: 0;
                display: flex;
                gap: 1rem;

                li {
                    list-style: none;
                    width: 200px;
                }

                .map-name {
                    font-weight: bold;
                    height: 2.5rem;
                    width: 100%;
                }
            }
        }
    }
}

.campaign-map-container {
    display: flex;
    gap: 1rem;
    position: relative;

    .map-actions {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 4rem;

        button {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: .5rem;
            width: 100%;

            svg {
                height: 2rem;
                margin-top: .25rem;
                width: 2rem;
            }
        }
    }

    .map {
        position: relative;

        svg.map-interactive {
            position: absolute;
        }

        img.map-image {
            position: absolute;
        }
    }

    .map-action-settings {
        background-color: rgba(colours.$white, .75);
        left: 7rem;
        position: absolute;
        width: 20rem;
        top: 2rem;

        form {
            border: none;
            box-shadow: none;
            font-size: 1rem;
            padding: 1rem;
        }

        button {
            font-size: 1rem;
        }
    }
}
