@use "../colours";

.char-edit-spells {
    .spell-level summary
    {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: .5rem;

        em {
            font-size: 1rem;
            font-weight: normal;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .spell {
        border: 1px solid colours.$dark-grey;
        list-style: none;
        margin: 0 0 .5rem 0;
        padding: 0;

        label {
            cursor: pointer;
            display: flex;
            gap: .5rem;
            padding: .5rem;
        }

        input[type=checkbox]:checked + label {
            background-color: colours.$dark-grey;
            color: colours.$white;

            table {
                td,
                th {
                    border-color: colours.$white;
                }
            }
        }

        .spell-school-icon {
            align-items: center;
            background-color: colours.$dark-grey;
            display: flex;
            padding: .25rem;

            svg {
                fill: colours.$white;
                height: 4rem;
                width: 4rem;
            }

            &.spell-school-abjuration svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(0, 0, 255) 0 0 4px) drop-shadow(rgb(0, 0, 255) 0 0 5px);
            }

            &.spell-school-conjuration svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(241, 129, 0) 0 0 4px) drop-shadow(rgb(241, 129, 0) 0 0 5px);
            }

            &.spell-school-divination svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(121, 121, 179) 0 0 4px) drop-shadow(rgb(121, 121, 179) 0 0 5px);
            }

            &.spell-school-enchantment svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(185, 70, 185) 0 0 4px) drop-shadow(rgb(185, 70, 185) 0 0 5px);
            }

            &.spell-school-evocation svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(255, 0, 0) 0 0 4px) drop-shadow(rgb(255, 0, 0) 0 0 5px);
            }

            &.spell-school-illusion svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(119, 0, 255) 0 0 4px) drop-shadow(rgb(119, 0, 255) 0 0 5px);
            }

            &.spell-school-necromancy svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(0, 126, 38) 0 0 4px) drop-shadow(rgb(0, 126, 38) 0 0 5px);
            }

            &.spell-school-transmutation svg {
                filter: drop-shadow(rgb(255, 255, 255) 0 0 2px) drop-shadow(rgb(221, 206, 0) 0 0 4px) drop-shadow(rgb(221, 206, 0) 0 0 5px);
            }
        }

        .spell-name {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .spell-details {
            flex-grow: 1;
        }

        table {
            border-collapse: collapse;
            margin-top: .5rem;
            width: 100%;

            td,
            th {
                border: 1px solid colours.$dark-grey;
                padding: .25rem;
            }

            .name,
            .range,
            .cast-time,
            .duration {
                width: 20%;
            }

            .components {
                width: 20%;
            }
        }

        .spell-component {
            align-items: start;
            display: inline-flex;
            margin-right: .5rem;

            svg {
                height: 1.25rem;
                margin-right: .25rem;
                width: 1.25rem;
            }
        }
    }
}
