@use "../colours";

.char-edit-class-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0;

    li {
        border: 1px solid colours.$dark-grey;
        list-style: none;
        padding: 0;
        margin: 0;

        &.selected {
            background-color: colours.$dark-grey;

            .char-class-name {
                color: colours.$white;
            }

            .char-class-icon {
                color: colours.$white;

                &.char-class-barbarian {
                    filter: drop-shadow(colours.$white 0 0 2px)
                    drop-shadow(colours.$char-class-barbarian 0 0 4px)
                    drop-shadow(colours.$char-class-barbarian 0 0 5px);
                }

                &.char-class-bard {
                    filter: drop-shadow(colours.$white 0 0 2px)
                    drop-shadow(colours.$char-class-bard 0 0 4px)
                    drop-shadow(colours.$char-class-bard 0 0 5px);
                }

                &.char-class-cleric {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-cleric 0 0 4px)
                        drop-shadow(colours.$char-class-cleric 0 0 5px);
                }

                &.char-class-druid {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-druid 0 0 4px)
                        drop-shadow(colours.$char-class-druid 0 0 5px);
                }

                &.char-class-fighter {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-fighter 0 0 4px)
                        drop-shadow(colours.$char-class-fighter 0 0 5px);
                }

                &.char-class-monk {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-monk 0 0 4px)
                        drop-shadow(colours.$char-class-monk 0 0 5px);
                }

                &.char-class-paladin {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-paladin 0 0 4px)
                        drop-shadow(colours.$char-class-paladin 0 0 5px);
                }

                &.char-class-ranger {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-ranger 0 0 4px)
                        drop-shadow(colours.$char-class-ranger 0 0 5px);
                }

                &.char-class-rogue {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-rogue 0 0 4px)
                        drop-shadow(colours.$char-class-rogue 0 0 5px);
                }

                &.char-class-sorcerer {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-sorcerer 0 0 4px)
                        drop-shadow(colours.$char-class-sorcerer 0 0 5px);
                }

                &.char-class-warlock {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-warlock 0 0 4px)
                        drop-shadow(colours.$char-class-warlock 0 0 5px);
                }

                &.char-class-wizard {
                    filter: drop-shadow(colours.$white 0 0 2px)
                        drop-shadow(colours.$char-class-wizard 0 0 4px)
                        drop-shadow(colours.$char-class-wizard 0 0 5px);
                }
            }
        }

        &:hover {
            background-color: colours.$really-light-grey;
        }
    }

    .char-class {
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        padding: .5rem;
        width: 20em;

        &:focus {
            outline: 2px solid colours.$focus;
        }
    }

    .char-class-icon {
        display: inline-block;
        height: 4em;
        width: 4em;

        &.char-class-barbarian {
            color: colours.$char-class-barbarian;
        }

        &.char-class-bard {
            color: colours.$char-class-bard;
        }

        &.char-class-cleric {
            color: colours.$char-class-cleric;
        }

        &.char-class-druid {
            color: colours.$char-class-druid;
        }

        &.char-class-fighter {
            color: colours.$char-class-fighter;
        }

        &.char-class-monk {
            color: colours.$char-class-monk;
        }

        &.char-class-paladin {
            color: colours.$char-class-paladin;
        }

        &.char-class-ranger {
            color: colours.$char-class-ranger;
        }

        &.char-class-rogue {
            color: colours.$char-class-rogue;
        }

        &.char-class-sorcerer {
            color: colours.$char-class-sorcerer;
        }

        &.char-class-warlock {
            color: colours.$char-class-warlock;
        }

        &.char-class-wizard {
            color: colours.$char-class-wizard;
        }

    }

    .char-class-name {
        padding: .5rem;
        font-size: 1.25rem;
    }
}

.char-class-details {
    .char-class-stats {
        strong {
            display: inline-block;
            margin-right: .25rem;
        }
    }

    .char-class-features {
        display: block;

        li {
            display: block;
            margin-bottom: 1rem;
        }

        .tools-list {
            display: block;

            li {
                border: none;
                list-style: disc;
                margin-bottom: 0;
            }
        }

        details {
            min-width: 35rem;
            padding: 0;
        }

        details summary::-webkit-details-marker,
        details summary::marker {
        }

        summary {
            background-color: colours.$dark-grey;
            color: colours.$white;
            cursor: pointer;
            padding: .5rem;
            position: relative;

            svg {
                height: 2rem;
                position: absolute;
                margin-top: -1rem;
                right: .5rem;
                top: 50%;
            }
        }

        .char-details-content {
            padding: 0 .5rem;
        }

        .char-class-feature-level {
            font-size: 80%;
        }

        .char-class-path-features-content {
            padding: 0 .5rem;

            details {
                border: 1px solid colours.$dark-grey;
                margin-bottom: .5rem;
            }
        }
    }

    .path-selection {
        border: 3px double colours.$gold;
        border-radius: .5rem;
        padding: 0 .5rem;
        margin-bottom: 1rem;
    }

    .char-class-features .path-selection-option {
        display: flex;

        input[type=radio] {
            display: none;

            // TODO replace this with SVG as CSS gradients for this looks rubbish
            & + label {
                background-image: radial-gradient(circle, transparent 0%, transparent 45%, colours.$black 46%, colours.$black 52%, transparent 53%);
            }

            &:checked + label {
                background-image: radial-gradient(circle, darken(colours.$gold, 20%) 0%, colours.$gold 35%, transparent 37%, transparent 45%, colours.$black 46%, colours.$black 52%, transparent 53%);
            }
        }

        label {
            cursor: pointer;
            height: 2rem;
            width: 2rem;
        }

        .char-class-path-features {
            flex-grow: 1;
        }
    }
}
