@use "../colours";

nav.char-create-nav ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        a {
            color: colours.$black;
            padding: .5rem;
            text-decoration: none;

            &:hover {
                background-color: colours.$dark-grey;
                color: colours.$white;
            }
        }
    }
}

.suggested-names {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;

    li {
        border: 1px solid colours.$medium-grey;
        border-radius: .5rem;
        cursor: pointer;
        padding: .25rem;
        list-style: none;
        text-align: center;

        &:hover {
            background-color: colours.$really-light-grey;
        }
    }
}

.char-edit-portrait-panel {
    form {
        margin-top: 1rem;

        label {
            display: block;
            margin-bottom: .5rem;
        }

        input[type=file] {
            display: none;
        }

        .filename {
            margin: .25rem 0;
        }

        .preview {
            height: 200px;
            width: 200px;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}
