@use "../colours";

.char-create-header {
    background-color: colours.$dark-grey;
    color: colours.$white;

    h1 {
        background-color: colours.$white;
        color: colours.$black;
        margin: 0;
        padding: .5rem 0 0 0;
        text-align: center;

        svg {
            height: 7rem;
        }
    }
}

.header-small {
    background-color: colours.$white;
    color: colours.$black;
    margin: 0;
    padding: .5rem 0 0 0;

    svg {
        height: 3rem;
        width: auto;
    }

    nav {
        background-color: colours.$dark-grey;
        color: colours.$white;

        a {
            color: colours.$white;
            display: inline-block;
            margin: .25rem .5rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

nav.characters-nav {
    display: flex;
    justify-content: space-between;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            padding: .5rem;
            text-align: center;

            a {
                color: colours.$white;
                padding: .5rem;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .logout {
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            .sticks {
                fill: colours.$logout-sticks;
            }

            .fire {
                fill: colours.$logout-fire;
            }
        }

        svg {
            fill: colours.$white;
        }
    }
}

nav.char-create-nav ul {
    li {
        display: block;

        a {
            align-items: center;
            display: flex;
            gap: .5rem;
        }
    }
}

