@use "../colours";

nav.char-create-nav ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        a {
            color: colours.$black;
            padding: .5rem;
            text-decoration: none;

            &:hover {
                background-color: colours.$dark-grey;
                color: colours.$white;
            }

            &.active {
                background-color: colours.$gold;
            }
        }
    }
}

.suggested-names {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;

    li {
        border: 1px solid colours.$medium-grey;
        border-radius: .5rem;
        cursor: pointer;
        padding: .25rem;
        list-style: none;
        text-align: center;

        &:hover {
            background-color: colours.$really-light-grey;
        }
    }
}

.char-edit-portrait-panel {
    form {
        margin-top: 1rem;

        label {
            display: block;
            margin-bottom: .5rem;
        }

        input[type=file] {
            display: none;
        }

        .filename {
            margin: .25rem 0;
        }

        .preview {
            height: 200px;
            width: 200px;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

.char-edit-alignment-panel {
    display: flex;

    form.alignments {
        background-image: url("/images/alignments.png");
        background-size: contain;
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 40rem;
        margin-bottom: 1rem;
        min-width: 40rem;
        padding: 0;
        width: 40rem;

        button {
            appearance: none;
            backdrop-filter: blur(3px);
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: backdrop-filter .2s;

            .alignment-label {
                opacity: 0;
                font-family: "Lugrasimo", serif;
                font-size: 2rem;
                font-weight: bold;
                transition: opacity .2s;
            }

            &:hover,
            &:focus,
            &.selected {
                backdrop-filter: none;

                .alignment-label {
                    opacity: 100%;
                }
            }

            &.selected .alignment-label {
                text-shadow: 0 0 8px #fff, 0 0 8px #fff;
            }
        }
    }

    .alignment-description {
        padding: 0 1rem;
        width: 20rem;
    }
}
