@use "../colours";

.char-edit-background-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0;

    li {
        border: 1px solid colours.$dark-grey;
        list-style: none;
        padding: 0;
        margin: 0;

        &.selected {
            background-color: colours.$dark-grey;
            color: colours.$white;

            .char-background-name {
                color: colours.$white;
            }

            svg {
                fill: colours.$white;
            }
        }

        &:hover {
            background-color: colours.$really-light-grey;
        }
    }

    .char-background {
        align-items: center;
        appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        padding: .5rem;
        width: 10rem;

        &:focus {
            outline: 2px solid colours.$focus;
        }
    }

    .char-background-icon {
        display: inline-block;
        height: 4em;
        width: 4em;

        svg {
            height: 100%;
            width: 100%;
        }

        &.char-background-acolyte {

        }
    }

    .char-background-name {
        padding: .5rem;
        font-size: 1rem;
    }
}

.char-background-details {
    border: 1px solid colours.$black;
    border-radius: 1rem;

    h3 {
        background-color: colours.$heading-green;
        border-radius: 1rem 1rem 0 0;
        margin: 0;
        padding: .5rem 1rem;
    }

    .char-background-details-content {
        padding: 1rem;

        p {
            margin-top: 0;
        }

        h4 {
            margin-bottom: .5rem;
        }
    }
}

.char-background-proficiencies-list {
    display: grid;
    grid-template-columns: 7rem auto;
    margin-top: 0;
    margin-left: 1rem;
    row-gap: 1rem;

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }
}

.char-edit-background-characteristic {
    align-items: end;
    display: flex;
    margin-bottom: 1rem;

    select {
        display: block;
        width: 25rem;
    }
}
