@use "../colours";

.char-create-header {
    background-color: colours.$dark-grey;
    color: colours.$white;

    h1 {
        background-color: colours.$white;
        color: colours.$black;
        margin: 0;
        padding: .5rem 0 0 0;
        text-align: center;

        svg {
            height: 7rem;
        }
    }
}

nav.characters-nav ul {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        list-style: none;
        padding: .5rem;
        text-align: center;

        a {
            color: colours.$white;
            padding: .5rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

nav.char-create-nav ul {
    li {
        display: block;

        a {
            align-items: center;
            display: flex;
            gap: .5rem;
        }
    }
}

