@use "../colours";

.char-list-panel {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        margin: 0;
        padding: 0;
    }

    .char-panel {
        background-color: colours.$really-light-grey;
        border: 1px solid colours.$black;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        margin: 0;
        max-width: 20rem;
        padding: 1rem;
        position: relative;
        width: 20rem;

        .char-image {
            background-color: colours.$white;
            border: 1px solid colours.$black;
            border-radius: 6px;
            height: 5.5rem;

            img {
                height: 5.5rem;
            }
        }

        &:after {
            background-image: url('/images/wyvern-corner.svg');
            background-repeat: no-repeat;
            background-size: 4rem auto;
            bottom: -0.65rem;
            content: '';
            display: block;
            height: 4.8rem;
            position: absolute;
            right: -1.25rem;
            width: 4rem;
        }
    }

    .char-details {
        flex-grow: 1;
    }

    .char-name {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: .5rem;

        a {
            color: colours.$black;
            text-decoration: none;
        }
    }

    .char-actions {
        display: flex;
        justify-content: space-between;
        margin-right: 3rem;
        margin-top: 1rem;

        a {
            color: colours.$black;
        }
    }
}

