@use "../colours";

.char-edit-equipment-panel {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
}

details.char-edit-equipment-set,
details.item {
    border: 1px solid colours.$black;
    border-radius: .5rem;
    box-shadow: 2px 2px 7px colours.$medium-grey;
    margin-bottom: .5rem;
    padding: .5rem;

    &.rarity-uncommon {
        color: colours.$item-rarity-uncommon;
    }
    &.rarity-rare {
        color: colours.$item-rarity-rare;
    }
    &.rarity-very-rare {
        color: colours.$item-rarity-very-rare;
    }
    &.rarity-legendary {
        color: colours.$item-rarity-legendary;
    }

    summary {
        cursor: pointer;
    }

    .starting-gold {
        margin: .5rem 0;
    }

    .item-quantity {
        margin-right: .25rem;
    }

    .item-type {
        font-style: italic;
    }

    button {
        margin-top: 1rem;
    }
}
