@use "../colours";

.library-list-container,
.spells-list-container,
.monsters-list-container,
.race-list-container,
.class-list-container,
.background-list-container,
.language-list-container,
.deity-list-container,
.item-list-container,
.conditions-container,
.damage-types-container {
    padding: 1rem;

    .filter-form > fieldset {
        display: flex;
        gap: 1rem;
    }
}

.library-list-container .library-list,
.monsters-list-container .creature-list,
.language-list-container .char-language-list,
.deity-list-container .deity-list,
.item-list-container .item-list,
.conditions-container .conditions-list,
.damage-types-container .damage-types-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.language-list-container .language,
.deity-list-container .deity,
.conditions-container .conditions-list > li,
.damage-types-container li,
.library-list-container li {
    border: 1px solid colours.$dark-grey;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px colours.$medium-grey;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    list-style: none;
    padding: 1rem;
    width: 15rem;
}

.library-list-container {
    li {
        font-weight: inherit;
        padding: 0;
        text-align: center;

        a {
            color: colours.$black;
            display: block;
            margin: 1rem;
        }

        svg {
            height: 5rem;
            margin-bottom: 1rem;
            width: auto;
        }
    }
}

.spells-list-container {
    .spells-list {
        margin: 0;
        padding: 0;
    }

    summary {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .spell {
        border: 1px solid #333;
        list-style: none;
        margin: 0 0 0.5rem 0;
        padding: 0;

        table {
            border-collapse: collapse;
            display: table;
            margin-top: 0.5rem;
            width: 100%;

            td,
            th {
                border: 1px solid colours.$dark-grey;
                padding: .25rem;
            }

            .name,
            .range,
            .cast-time,
            .duration {
                width: 10%;
            }

            .components,
            .classes {
                width: 20%;
            }
        }

        .spell-component {
            align-items: start;
            display: inline-flex;
            margin-right: .5rem;

            svg {
                height: 1.25rem;
                margin-right: .25rem;
                width: 1.25rem;
            }
        }

        .spell-component-material-list {
            display: block;
            padding-left: 1rem;
        }
    }

    .spell-container {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .spell-school-icon {
        align-items: center;
        background-color: #333;
        display: flex;
        height: 5rem;
        padding: 0.25rem;
        width: 5rem;

        svg {
            fill: colours.$white;
            height: 5rem;
            width: 5rem;
        }

        &.spell-school-abjuration svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-abjuration 0 0 4px)
            drop-shadow(colours.$spell-school-abjuration 0 0 5px);
        }

        &.spell-school-conjuration svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-conjuration 0 0 4px)
            drop-shadow(colours.$spell-school-conjuration 0 0 5px);
        }

        &.spell-school-divination svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-divination 0 0 4px)
            drop-shadow(colours.$spell-school-divination 0 0 5px);
        }

        &.spell-school-enchantment svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-enchantment 0 0 4px)
            drop-shadow(colours.$spell-school-enchantment 0 0 5px);
        }

        &.spell-school-evocation svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-evocation 0 0 4px)
            drop-shadow(colours.$spell-school-evocation 0 0 5px);
        }

        &.spell-school-illusion svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-illusion 0 0 4px)
            drop-shadow(colours.$spell-school-illusion 0 0 5px);
        }

        &.spell-school-necromancy svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-necromancy 0 0 4px)
            drop-shadow(colours.$spell-school-necromancy 0 0 5px);
        }

        &.spell-school-transmutation svg {
            filter: drop-shadow(colours.$white 0 0 2px)
            drop-shadow(colours.$spell-school-transmutation 0 0 4px)
            drop-shadow(colours.$spell-school-transmutation 0 0 5px);
        }
    }

    .spell-details {
        flex-grow: 1;
    }

    .spell-name {
        font-size: 1.25rem;
        font-weight: bold;
    }

}

.monsters-list-container {
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img {
        height: 6rem;
        width: auto;
    }

    .creature-name {
        text-overflow: ellipsis;
        width: 8rem;
        overflow: hidden;
        white-space: nowrap;
    }

    .modal {
        .creature-details {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        app-creature-icon {
            width: 25%;
        }

        .creature-icon {
            height: auto;
            width: 100%;
        }

        .creature-basics {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            width: 70%;

            dt {
                width: 30%;
            }
            dd {
                margin: 0;
                padding: 0;
                width: 65%;
            }
        }

        fieldset {
            width: 26%;

            ul {
                display: table;
                margin: .5rem 0;
                padding: 0;
            }

            li {
                display: table-row;

                strong,
                div {
                    display: table-cell;
                    padding: .125rem .25rem;
                }
            }

            &.creature-senses {
                dl {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    margin: .5rem 0;


                }
            }

        }
    }
}

.race-list-container {
    // see _char-edit-race.scss

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            width: 49%;
        }

        li:has(details[open]) {
            width: 100%;
        }
    }
}

.class-list-container {
    // see _char-edit-class.scss
}

.background-list-container {
    // see _char-edit-background.scss

    .char-edit-background-characteristic {
        display: block;

        p {
            font-weight: bold;
            margin: 1rem 0 0 1rem;
        }
    }

    .characteristics-list {
        display: block;
        margin: .5rem 0 1rem 2rem;

        li {
            border: none;
            list-style: initial;
        }
    }
}

.language-list-container {
    .language-sample {
        margin-top: 1rem;
        height: 3rem;
    }

    dl {
        font-weight: normal;
    }
}

.deity-list-container {
    .deity {
        img {
            border-radius: 1rem;
            height: auto;
            width: 100%;
        }

        strong {
            display: block;
            margin-bottom: .5rem;
            text-align: center;
        }

        dt {
            font-weight: bold;
        }

        dl ul {
            padding: 0;
            list-style: square;
        }
    }
}

.item-list-container {
    .item-list > li {
        display: block;
        width: 20rem;
    }
}

.conditions-container {
    .condition-icon {
        position: relative;

        svg {
            height: auto;
            position: absolute;
            right: 0;
            top: -1rem;
            width: 3rem;
        }
    }
}
