<app-header></app-header>

<div class="campaign-content-container">
    <main>
        @if (invites.length > 0) {
            <h2>Campaign Invites</h2>

            <form>
                <p>You have been invited to join {{ invites.length }} campaign(s):</p>
                <ul class="campaign-invites">
                    @for (invite of invites; track invite.id) {
                        <li class="campaign-invite">
                            <div class="campaign-name"><strong>{{ invite.campaign.name }}</strong></div>
                            <div class="campaign-owner">from {{ invite.owner.name }}</div>
                            <div class="sent-at"><em>(invite sent at {{ invite.created_at | date: 'medium' }}).</em></div>
                            <div class="actions">
                                <button type="button" (click)="declineInvite(invite)" class="fantasy-btn fantasy-brown">Decline</button>
                                <button type="button" (click)="acceptInvite(invite, $event)" class="fantasy-btn fantasy-blue">Accept</button>
                            </div>
                        </li>
                    }
                </ul>
            </form>
        }

        <h2>Your Own Campaigns</h2>

        <div class="campaign-list-panel">
            @if (ownCampaigns.length === 0) {
                <p>You do not own any campaigns.</p>
            } @else {
                <ul>
                    @for (campaign of ownCampaigns; track campaign.guid) {
                        <li class="campaigns">
                            <div class="campaign">
                                <app-campaign-state [campaign]="campaign"></app-campaign-state>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>

        <h2>Joined Campaigns</h2>

        <div class="campaign-list-panel">
            @if (joinedCampaigns.length === 0) {
                <p>You have not joined any campaigns.</p>
            } @else {
                <ul>
                    @for (campaign of joinedCampaigns; track campaign.guid) {
                        <li class="campaigns">
                            <div class="campaign">
                                <app-campaign-state [campaign]="campaign"></app-campaign-state>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </main>

    <app-confirm #acceptInviteLightbox heading="Accept invite with:" cancelLabel="Close" confirmLabel="Accept" (confirmClass)="confirmAcceptInvite()">
        <p>You can select multiple characters to join the campaign.</p>
        <p>Currently selected: {{ selectedCharactersForInvites.length }}</p>
        <div class="char-list-invite-panel char-list-panel">
            @if (characters.length > 0) {
                <ul>
                    @for (character of characters; track character.guid) {
                        <li class="char-panel" [class.selected]="isCharacterSelectedForInvite(character)">
                            <button (click)="toggleSelectCharacterForInvite(character, $event)">
                                <app-portrait [character]="character"/>
                                <div class="char-details">{{ character.name }}
                                    (Level {{ character.level }} {{ character.charRace }} {{ character.charClass }})</div>
                            </button>
                        </li>
                    }
                </ul>
            } @else {
                <p>You don't have any characters to use for this campaign. Please create a character first.</p>
            }
        </div>
    </app-confirm>
</div>
