<app-header-slim></app-header-slim>

<div class="campaign-map-container">
    <nav class="map-actions">
        <app-map-action-icon [mapAction]="'Pointer'" (mapMode)="setMapMode($event)"/>
        <app-map-action-icon [mapAction]="'Draw'" (mapMode)="setMapMode($event)"/>
        <app-map-action-icon [mapAction]="'Ruler'" (mapMode)="setMapMode($event)"/>
        <app-map-action-icon [mapAction]="'Creature'" (mapMode)="setMapMode($event)"/>
        <app-map-action-icon [mapAction]="'Object'" (mapMode)="setMapMode($event)"/>
        <app-map-action-icon [mapAction]="'Toggle Grid'" (mapMode)="setMapMode($event)"/>
    </nav>
    <svg
        [attr.width]="campaignMap?.width"
        [attr.height]="campaignMap?.height"
        [attr.viewBox]="'0 0 ' + campaignMap?.width + ' ' + campaignMap?.height"
        xmlns="http://www.w3.org/2000/svg"
    >
        <image [attr.href]="getImageUrl()" [attr.width]="campaignMap?.width" [attr.height]="campaignMap?.height" />
    </svg>
</div>
