<app-header-slim></app-header-slim>

@if (error.length) {
    <div class="error">{{ error }}</div>
}
<div class="campaign-map-container">
    <nav class="map-actions">
        <app-map-action-icon [mapAction]="'Pointer'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Draw'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Ruler'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Creature'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Object'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Grid'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
    </nav>
    <div class="map" [style]="'width: ' + campaignMap?.width + '; height: ' + campaignMap?.height + ';'">
        @if (campaignMap?.guid) {
            <img
                class="map-image"
                src="{{ getImageUrl() }}"
                [attr.width]="campaignMap?.width"
                [attr.height]="campaignMap?.height"
            />

            <svg
                class="map-interactive"
                [attr.width]="campaignMap?.width"
                [attr.height]="campaignMap?.height"
                [attr.viewBox]="'0 0 ' + getViewBoxWidth() + ' ' + getViewBoxHeight()"
                xmlns="http://www.w3.org/2000/svg"
                (mousedown)="mapMouseDownHandler($event)"
                (mouseup)="mapMouseUpHandler($event)"
                (mousemove)="mapMouseMoveHandler($event)"
            >
                <defs>
                    <pattern id="grid" [attr.width]="campaignMap.grid_size" [attr.height]="campaignMap.grid_size" patternUnits="userSpaceOnUse">
                        <path
                            [attr.d]="'M ' + campaignMap.grid_size + ' 0 L 0 0 0 ' + campaignMap.grid_size + ''"
                            fill="none"
                            [attr.stroke]="gridColour()"
                            stroke-width="1"
                        />
                    </pattern>

                </defs>
                @if (campaignMap.show_grid) {
                    <g id="scale">
                        <rect width="100%" height="100%" fill="url(#grid)" />
                    </g>
                }
                <g id="mapCreatures">
                    @for (player of campaignMap.players; track player.guid) {
                        <g
                            class="character"
                            [attr.data-x]="player.x"
                            [attr.data-y]="player.y"
                            [attr.data-guid]="player.guid"
                            [attr.transform]="'translate(' + player.x + ', ' + player.y + ')'"
                        >
                            <circle
                                [attr.cx]="campaignMap.grid_size / 2"
                                [attr.cy]="campaignMap.grid_size / 2"
                                [attr.r]="campaignMap.grid_size / 2"
                                [attr.stroke]="player.highlight_colour"
                                stroke-width="4"
                            />
                            <image
                               [attr.x]="0"
                               [attr.y]="0"
                               [attr.width]="campaignMap.grid_size"
                               [attr.height]="campaignMap.grid_size"
                               [attr.xlink:href]="getCharacterImageUrl(player.player.custom_portrait, player.player.guid)"
                               style="clip-path: inset(0 0 0 0 round 50%);"
                            ></image>
                        </g>
                    }
                </g>
            </svg>
        }
    </div>

    @if (showSettings) {
        <div class="map-action-settings">
            <form>
                <button type="button" class="close-map-settings" (click)="hideSettings()">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 20.4 20.4">
                        <path fill="currentColor" d="M1.4,0L0,1.4l8.8,8.8L0,19l1.4,1.4l8.8-8.8l8.8,8.8l1.4-1.4l-8.8-8.8l8.8-8.8L19,0l-8.8,8.8L1.4,0z"/>
                    </svg>
                </button>
                @switch (mapMode)
                {
                    @case ("Pointer") {

                    }
                    @case ("Draw") {

                    }
                    @case ("Ruler") {

                    }
                    @case ("Creature") {
                        <div class="tabs" id="creatureTabs">
                            <div role="tablist" aria-label="Creature selection tabs">
                                <button
                                    type="button"
                                    role="tab"
                                    aria-selected="true"
                                    aria-controls="playerPanel"
                                    id="creature-tab-1"
                                    tabindex="-1"
                                    (click)="selectTab($event)"
                                >Players</button>
                                <button
                                    type="button"
                                    role="tab"
                                    aria-controls="creaturePanel"
                                    id="creature-tab-2"
                                    tabindex="-1"
                                    (click)="selectTab($event)"
                                >Creatures</button>
                            </div>
                            <div id="playerPanel" role="tabpanel" tabindex="0" aria-labelledby="creature-tab-1">
                                @for (character of campaign?.players; track character.guid) {
                                    <button class="character" (click)="addCharacterToMap(character)">
                                        <app-portrait [character]="character"/>
                                        <div class="character-name">{{ character.name }}</div>
                                    </button>
                                }
                            </div>
                            <div id="creaturePanel" role="tabpanel" tabindex="0" aria-labelledby="creature-tab-2" hidden>
                                creatures
                            </div>
                        </div>
                    }
                    @case ("Object") {

                    }
                    @case ('Grid') {
                        <label>
                            <input type="checkbox" name="showGrid" [(ngModel)]="campaignMap.show_grid" (change)="toggleGrid()"/>
                            Show Grid
                        </label>
                        <fieldset>
                            <legend>Grid Size</legend>
                            <button type="button" (click)="changeGridSize(-50)" class="large">
                                <span class="accessible-hidden">Reduce grid size</span>
                                <span aria-hidden="true">-</span>
                            </button>
                            <button type="button" (click)="changeGridSize(50)" class="large">
                                <span class="accessible-hidden">Increase grid size</span>
                                <span aria-hidden="true">+</span>
                            </button>
                        </fieldset>
                        <fieldset>
                            <legend>Grid Colour</legend>
                            <input type="color" name="gridColour" [(ngModel)]="gridColour" (change)="saveGridColour()"/>
                        </fieldset>
                    }
                }
            </form>
        </div>
    }
</div>

