<app-header-slim></app-header-slim>

@if (error.length) {
    <div class="error">{{ error }}</div>
}
<div class="campaign-map-container">
    <nav class="map-actions">
        <app-map-action-icon [mapAction]="'Pointer'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Draw'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Ruler'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Creature'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Object'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
        <app-map-action-icon [mapAction]="'Grid'" (mapMode)="setMapMode($event)" [currentMapMode]="mapMode"/>
    </nav>
    <div class="map" [style]="'width: ' + campaignMap?.width + '; height: ' + campaignMap?.height + ';'">
        @if (campaignMap?.guid) {
            <img
                class="map-image"
                src="{{ getImageUrl() }}"
                [attr.width]="campaignMap?.width"
                [attr.height]="campaignMap?.height"
            />

            <svg
                class="map-interactive"
                [attr.width]="campaignMap?.width"
                [attr.height]="campaignMap?.height"
                [attr.viewBox]="'0 0 ' + getViewBoxWidth() + ' ' + getViewBoxHeight()"
                xmlns="http://www.w3.org/2000/svg"
                (mousedown)="mapMouseDownHandler($event)"
                (mouseup)="mapMouseUpHandler($event)"
                (mousemove)="mapMouseMoveHandler($event)"
            >
                <defs>
                    <pattern id="grid" [attr.width]="campaignMap.grid_size" [attr.height]="campaignMap.grid_size" patternUnits="userSpaceOnUse">
                        <path
                            [attr.d]="'M ' + campaignMap.grid_size + ' 0 L 0 0 0 ' + campaignMap.grid_size + ''"
                            fill="none"
                            [attr.stroke]="gridColour()"
                            stroke-width="1"
                        />
                    </pattern>

                    <!-- drawing patterns, as needed by particular map -->
                    @for (drawing of campaignMap.drawings; track drawing.guid) {
                        <app-map-pattern
                            [patternId]="'pattern-' + drawing.guid"
                            [patternColour]="drawing.highlight_colour"
                            [patternSymbol]="drawing.stats?.pattern ?? ''"
                        />
                    }
                </defs>
                @if (campaignMap.show_grid) {
                    <g id="scale">
                        <rect width="100%" height="100%" fill="url(#grid)" />
                    </g>
                }
                <g id="mapDrawings">
                    @for (drawing of campaignMap.drawings; track drawing.guid) {
                        <g class="drawing" [attr.transform]="'translate(' + drawing.x + ', ' + drawing.y + ')'">
                            @switch (drawing.stats.type ?? '') {
                                @case ('circle') {
                                    <circle
                                        cx="0"
                                        cy="0"
                                        [attr.r]="drawing.stats?.r"
                                        [attr.stroke]="drawing.highlight_colour"
                                        stroke-width="4"
                                        [attr.fill]="'url(#pattern-' + drawing.guid + ')'"
                                    />
                                }
                                @case ('rectangle') {
                                    <rect
                                        x="0"
                                        y="0"
                                        [attr.width]="drawing.stats?.width"
                                        [attr.height]="drawing.stats?.height"
                                        [attr.stroke]="drawing.highlight_colour"
                                        stroke-width="4"
                                        [attr.fill]="'url(#pattern-' + drawing.guid + ')'"
                                    />
                                }
                                @case ('cone') {
                                    <g [attr.transform]="'rotate(' + (drawing.stats.angle ?? 0) + ')'">
                                        <path
                                            stroke-width="4"
                                            [attr.stroke]="drawing.highlight_colour"
                                            [attr.d]="'M 0 0 L ' + (drawing.stats.length ?? 0) + ' -' + ((drawing.stats.width ?? 0) / 2) + ' L ' + (drawing.stats.length ?? 0) + ' ' + ((drawing.stats.width ?? 0) / 2) + ' Z'"
                                            [attr.fill]="'url(#pattern-' + drawing.guid + ')'"
                                        />
                                    </g>
                                }
                            }
                        </g>
                    }
                </g>
                <g id="mapCreatures">
                    @for (player of campaignMap.players; track player.guid) {
                        <g
                            class="character"
                            [attr.data-x]="player.x"
                            [attr.data-y]="player.y"
                            [attr.data-guid]="player.guid"
                            [attr.data-name]="player.player.name"
                            [attr.transform]="'translate(' + player.x + ', ' + player.y + ')'"
                        >
                            <circle
                                [attr.cx]="campaignMap.grid_size / 2"
                                [attr.cy]="campaignMap.grid_size / 2"
                                [attr.r]="campaignMap.grid_size / 2"
                                [attr.stroke]="player.highlight_colour"
                                stroke-width="4"
                            />
                            <image
                               x="0"
                               y="0"
                               [attr.width]="campaignMap.grid_size"
                               [attr.height]="campaignMap.grid_size"
                               [attr.xlink:href]="getCharacterImageUrl(player.player.custom_portrait, player.player.guid)"
                               style="clip-path: inset(0 0 0 0 round 50%);"
                            ></image>
                        </g>
                    }
                    @for (creature of campaignMap.creatures; track creature.guid) {
                        <g
                            class="creature"
                            [attr.data-x]="creature.x"
                            [attr.data-y]="creature.y"
                            [attr.data-guid]="creature.guid"
                            [attr.data-name]="creature.entity_name"
                            [attr.transform]="'translate(' + creature.x + ', ' + creature.y + ')'"
                        >
                            <circle
                                [attr.cx]="campaignMap.grid_size / 2"
                                [attr.cy]="campaignMap.grid_size / 2"
                                [attr.r]="campaignMap.grid_size / 2"
                                [attr.stroke]="creature.highlight_colour"
                                stroke-width="4"
                            />
                            <image
                                x="0"
                                y="0"
                                [attr.width]="campaignMap.grid_size"
                                [attr.height]="campaignMap.grid_size"
                                [attr.xlink:href]="'/images/creature-icons/' + (creature.creature?.name ?? '').toLowerCase() + '.png'"
                                style="clip-path: inset(0 0 0 0 round 50%);"
                            ></image>
                        </g>
                    }
                </g>
            </svg>
        }
    </div>

    @if (showSettings) {
        <div class="map-action-settings">
            <form>
                <button type="button" class="close-map-settings" (click)="hideSettings()">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 20.4 20.4">
                        <path fill="currentColor" d="M1.4,0L0,1.4l8.8,8.8L0,19l1.4,1.4l8.8-8.8l8.8,8.8l1.4-1.4l-8.8-8.8l8.8-8.8L19,0l-8.8,8.8L1.4,0z"/>
                    </svg>
                </button>
                @switch (mapMode)
                {
                    @case ("Pointer") {
                        @if (movementObject.entityType === 'character') {
                            Name: {{ getCurrentSelectedObject()?.entity_name }}
                        } @else {
                            <label>
                                Name:
                                <input
                                    type="text"
                                    name="entityName"
                                    [value]="getCurrentSelectedObject()?.entity_name"
                                    (change)="saveEntityName($event)"
                                />
                            </label>
                        }

                        <label>
                            Ring colour:
                            <input
                                type="color"
                                name="ringColour"
                                [value]="getCurrentSelectedObject()?.highlight_colour"
                                (change)="saveRingColour($event)"
                            />
                        </label>
                    }
                    @case ("Draw") {

                    }
                    @case ("Ruler") {

                    }
                    @case ("Creature") {
                        <div class="tabs" id="creatureTabs">
                            <div role="tablist" aria-label="Creature selection tabs">
                                <button
                                    type="button"
                                    role="tab"
                                    aria-selected="true"
                                    aria-controls="playerPanel"
                                    id="creature-tab-1"
                                    tabindex="-1"
                                    (click)="selectTab($event)"
                                >Players</button>
                                <button
                                    type="button"
                                    role="tab"
                                    aria-controls="creaturePanel"
                                    id="creature-tab-2"
                                    tabindex="-1"
                                    (click)="selectTab($event)"
                                >Creatures</button>
                            </div>
                            <div id="playerPanel" role="tabpanel" tabindex="0" aria-labelledby="creature-tab-1">
                                @for (character of campaign?.players; track character.guid) {
                                    <button class="character" (click)="addCharacterToMap(character)">
                                        <app-portrait [character]="character"/>
                                        <div class="character-name">{{ character.name }}</div>
                                    </button>
                                }
                            </div>
                            <div id="creaturePanel" role="tabpanel" tabindex="0" aria-labelledby="creature-tab-2" hidden>
                                @if (creatures) {
                                    <label>Type:
                                        <select [(ngModel)]="creatureType" name="creatureType" (change)="clearCreatureSearch($event)">
                                            <option value="-">Select Creature Type</option>
                                            <option value="aberration">Aberration</option>
                                            <option value="beast">Beast</option>
                                            <option value="celestial">Celestial</option>
                                            <option value="construct">Construct</option>
                                            <option value="dragon">Dragon</option>
                                            <option value="elemental">Elemental</option>
                                            <option value="fey">Fey</option>
                                            <option value="fiend">Fiend</option>
                                            <option value="giant">Giant</option>
                                            <option value="humanoid">Humanoid</option>
                                            <option value="monstrosity">Monstrosity</option>
                                            <option value="ooze">Ooze</option>
                                            <option value="plant">Plant</option>
                                            <option value="undead">Undead</option>
                                        </select>
                                    </label>
                                    <label>Search:
                                        <input type="text" name="creatureSearch" [(ngModel)]="creatureSearch" (keyup)="clearCreatureType($event)"/>
                                    </label>
                                    <em>Search begins after second letter</em>
                                    <ul class="creature-list">
                                        @for (creature of getFilteredCreatures(); track $index) {
                                            <li>
                                                <button class="creature" (click)="addCreatureToMap(creature)">
                                                    <app-creature [creature]="creature"/>
                                                </button>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }
                    @case ("Object") {

                    }
                    @case ('Grid') {
                        <label>
                            <input type="checkbox" name="showGrid" [(ngModel)]="campaignMap.show_grid" (change)="toggleGrid()"/>
                            Show Grid
                        </label>
                        <fieldset>
                            <legend>Grid Size</legend>
                            <button type="button" (click)="changeGridSize(-50)" class="large">
                                <span class="accessible-hidden">Reduce grid size</span>
                                <span aria-hidden="true">-</span>
                            </button>
                            <button type="button" (click)="changeGridSize(50)" class="large">
                                <span class="accessible-hidden">Increase grid size</span>
                                <span aria-hidden="true">+</span>
                            </button>
                        </fieldset>
                        <fieldset>
                            <legend>Grid Colour</legend>
                            <input type="color" name="gridColour" [(ngModel)]="gridColour" (change)="saveGridColour()"/>
                        </fieldset>
                    }
                }
            </form>
        </div>
    }
</div>

