<app-header></app-header>

<div class="char-content-container">
    <main>
        <h2>Characters</h2>

        <div class="char-list-panel">
            <a class="fantasy-btn fantasy-blue" routerLink="/char-create" routerLinkActive="active" ariaCurrentWhenActive="page">Create Character</a>

            @if (error.length > 0) {
                <div class="error">{{ error }}</div>
            }
            @if (success) {
                <p class="success">Your character was sent to the belly of a Tarasque.</p>
            }

            <ul>
                @for (character of characters; track character.guid) {
                    <li class="char-panel">
                        <span class="char-image">
                            <app-portrait [character]="character"/>
                        </span>
                        <span class="char-details">
                            <div class="char-name"><a [routerLink]="['/characters/', character.guid]">{{ character.name }}</a></div>
                            <div>Level {{ character.level }} {{ character.charRace }} {{ character.charClass }}</div>

                            <div class="char-actions">
                                <a [routerLink]="['/characters/', character.guid]">
                                    <app-view-icon></app-view-icon>
                                </a>
                                <a [routerLink]="['/characters/', character.guid, 'edit']">
                                    <app-edit-icon></app-edit-icon>
                                </a>
                                <button type="button" class="button-link" (click)="deleteCharacterHandler(character.guid)">
                                    <app-delete-icon></app-delete-icon>
                                </button>
                            </div>
                        </span>
                    </li>
                }
            </ul>
        </div>
    </main>
</div>
