<header class="header-small">
    <app-logo-full/>
    <nav>
        <a routerLink="/characters" routerLinkActive="active" ariaCurrentWhenActive="page">Characters</a>
        <a routerLink="/campaigns">Campaigns</a>
    </nav>
</header>

<div class="char-sheet">
    <div class="char-sheet-content">
        <div class="sheet-header">
            <div class="name">{{ character?.name }}</div>
            <div class="main-details">
                <div class="class-level">{{ character?.charClass }} {{ character?.level }}</div>
                <div class="background">{{ character?.charBackground?.name }}</div>
                <div class="race">{{ character?.charRace }}</div>
            </div>
        </div>

        <div class="columns">
            <div class="col cols-3">
                <div class="columns">
                    <div class="col ability-scores">
                        @for (ability of abilityNames; track ability) {
                            <app-ability-score
                                [abilityName]="getAbilityDetails(ability).name"
                                [abilityBase]="getAbilityDetails(ability).base"
                                [abilityModifier]="getAbilityDetails(ability).modifier"
                            />
                        }
                    </div>

                    <div class="col">
                        <div class="simple-score-standalone">
                            <!-- TODO add inspiration to character response -->
                            <div class="simple-score-value">0</div>
                            <div class="simple-score-name">Inspiration</div>
                        </div>
                        <div class="simple-score-standalone">
                            <div class="simple-score-value">{{ character?.proficiency_bonus }}</div>
                            <div class="simple-score-name">Proficiency Bonus</div>
                        </div>

                        <div class="saving-throws">
                            Saving Throws

                            @for (ability of abilityNames; track ability) {
                                <div class="simple-score" [class.proficient]="hasAbilityProficiency(ability)">
                                    <div class="simple-score-value">{{ getAbilitySavingThrow(ability) }}</div>
                                    <div class="simple-score-name">{{ getAbilityDetails(ability).name }}</div>
                                </div>
                            }
                        </div>

                        <div class="skills">
                            Skills

                            @for (skill of skillNames; track skill) {
                                <div class="simple-score" [class.proficient]="hasSkillProficiency(skill.name)">
                                    <div class="simple-score-value">{{ getSkillProficiencyBonus(skill) }}</div>
                                    <div class="simple-score-ability">({{ skill.ability }})</div>
                                    <div class="simple-score-name">{{ skill.name }}</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="senses">
                    <div class="simple-score-standalone">
                        <div class="simple-score-value">{{ 10 + getSkillProficiencyBonus({name: "perception", ability: "wis"}) }}</div>
                        <div class="simple-score-name">Passive Perception</div>
                    </div>
                    <div class="simple-score-standalone">
                        <div class="simple-score-value">{{ 10 + getSkillProficiencyBonus({name: "investigation", ability: "int"}) }}</div>
                        <div class="simple-score-name">Passive Investigation</div>
                    </div>
                    <div class="simple-score-standalone">
                        <div class="simple-score-value">{{ 10 + getSkillProficiencyBonus({name: "insight", ability: "wis"}) }}</div>
                        <div class="simple-score-name">Passive Insight</div>
                    </div>
                </div>

                <div class="languages">

                </div>
            </div>

            <div class="col cols-3">
                <div class="ac-init-speed">
                    <div class="simple-score ac">
                        <!-- todo once equipment is added -->
                        <div class="simple-score-name">Armor Class</div>
                        <div class="simple-score-value">0</div>
                    </div>
                    <div class="simple-score initative">
                        <div class="simple-score-name">Initiative</div>
                        <div class="simple-score-value">{{ 10 + getAbilityDetails('dex').modifier }}</div>
                    </div>
                    <div class="simple-score speed">
                        <div class="simple-score-name">Speed</div>
                        <div class="simple-score-value">{{ character?.speed }}</div>
                    </div>
                </div>

                <div class="hit-points">
                    Hit Points
                    <div class="current">{{ character?.hit_points?.current }} / {{ character?.hit_points?.max }}</div>
                </div>

                <div class="attacks">
                    Attacks &amp; Spellcasting
                </div>

                <div class="equipment">
                    Equipment
                </div>
            </div>

            <div class="col cols-3">
                <div class="traits">
                    @for (trait of character?.charBackground?.characteristics; track trait.id) {
                        <div class="trait">
                            <div class="trait-name">{{ trait.characteristic_type }}</div>
                            <div class="trait-details">{{ trait.details }}</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
