<h2>Character Creation - Portrait</h2>

<div class="char-edit-portrait-panel">
    @if (characterService?.character?.custom_portrait) {
        <h3>Current Portrait</h3>
        <app-portrait [character]="characterService.character"/>
    }

    <form name="portraitForm" (submit)="updatePortraitHandler()">
        <label>New Portrait Image:
            <input type="file" name="image" #image (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png"/>
            @if (fileError) {
                <div class="error">{{ fileError }}</div>
            }
            @if (file) {
                <div class="preview">
                    <img [src]="getPreview(file)" alt="" />
                </div>
            }
            <div class="filename">{{ fileName || "No file uploaded yet." }}</div>
            <button
                type="button"
                class="file-upload fantasy-btn"
                (click)="image.click()"
            >Upload Image</button>
        </label>

        <button type="submit" class="fantasy-btn fantasy-blue">Update Portrait</button>
    </form>
</div>
