<h2>Character Creation - Abilities</h2>

<button type="button" class="secondary-btn" (click)="getDiceRollForStat()">Roll for all abilities
    <span class="dice-d6-icon"></span></button>

<p><em>Per standard rules, 4 d6 are rolled for each ability, lowest die of each group of 4 is discarded.</em></p>

<div class="dice-roll-block-all">
    @if (abilityDiceRolls[0].rolls[0] > 0) {
        @for (i of [0,1,2,3,4,5]; track $index){
            <div class="dice-roll-block">
                <strong>{{ abilityDiceRolls[i].rolls[0] + abilityDiceRolls[i].rolls[1] + abilityDiceRolls[i].rolls[2] }}</strong>
                <div class="dice-roll-block-rolls">
                    @for (roll of abilityDiceRolls[i].rolls; track $index) {
                        <span class="dice-roll-d6" [class.discarded]="$index == 3">
                            <span>{{ roll }}</span>
                        </span>
                    }
                </div>
                <select (change)="setRollsForAbility($event, i)">
                    <option>-</option>
                    @for (ability of character?.abilities; track ability.id) {
                        <!-- hide selected ability from all other select lists -->
                        @if(canShowAbilityInSelectList(i, ability.id)) {
                            <option value="{{ ability.id }}">{{ ability.name }}</option>
                        }
                    }
                </select>
            </div>
        }
    }
</div>

<div class="char-edit-abilities">
    @for (ability of character?.abilities; track $index) {
        <div class="char-edit-ability">
            <div class="ability-name">{{ ability.name }}</div>
            <table class="ability-table">
                <tr>
                    <th>Base value</th><td>{{ getAbilityBaseValue(ability.id) }}</td>
                </tr>
                <tr>
                    <th>Racial bonus</th><td>{{ ability.racialModifier }}</td>
                </tr>
                <tr>
                    <th>Modifier</th><td>{{ getAbilityModifier(ability) }}</td>
                </tr>
            </table>
        </div>
    }
</div>

<button type="button" class="primary-btn" (click)="confirmAbilities()">Confirm Abilities</button>
