<h2>Character Creation - Abilities</h2>

<p><em>Per standard rules, 4 d6 are rolled for each ability, lowest die of each group of 4 is discarded.</em></p>

<form class="slim char-edit-abilities">
    @for (ability of characterService.character?.abilities; track $index) {
        <div class="char-edit-ability">
            <div class="ability-name">{{ ability.name }}</div>
            <table class="ability-table">
                <tr>
                    <th>Base value</th>
                    <td>
                        <div class="ability-base">
                            <input type="text" [value]="getAbilityBaseValue(ability.id)" class="very-small">
                            <button type="button" class="roll" (click)="rollAbility(ability.id)">
                                <span class="accessible-hidden">Roll</span>
                            </button>
                        </div>

                        @if (abilityDiceRolls[ability.id - 1].rolls[0] !== 0) {
                            <table class="d6-rolls-table">
                                <tr>
                                    @for (die of abilityDiceRolls[ability.id - 1].rolls; track $index) {
                                        <td [class.discarded]="$index === 3">{{ die }}</td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="4">{{ getRollsTotal(ability.id) }}</td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Racial bonus</th><td>{{ ability.racialModifier }}</td>
                </tr>
                <tr>
                    <th>Modifier</th><td>{{ getAbilityModifier(ability) }}</td>
                </tr>
            </table>
        </div>
    }
</form>

@if (assignedDiceTotals.length === 6 || hasSavedValues()) {
    <button type="button" class="fantasy-btn fantasy-blue" (click)="confirmAbilities()">Confirm Abilities</button>
}
