<h2>Character Creation - Skills</h2>

<p>Select {{ character?.skills?.available_count }} skills.</p>

<div class="char-skill-list-block">
    @if (errorMessage.length) {
        <div class="error">{{ errorMessage }}</div>
    }

    <ul class="char-skill-list">
        @for (skill of skills; track skill.name) {
            <li [class.known]="isSkillKnown(skill.id)" class="skill" [class.selected]="isSelected(skill.id)">
                <button type="button" (click)="toggleSelectSkill(skill)">
                    <app-skill-icon [skillName]="skill.name"/>
                    {{ skill.name }}
                </button>
            </li>
        }
    </ul>

    <button type="button" class="fantasy-btn fantasy-blue" (click)="setSkillsHandler()">Select Skills</button>
</div>
