<details class="item rarity-{{ getRarityString() }}">
    <summary>
        {{ item()?.name }}
        @if ((item()?.quantity ?? 1) > 1) {
            <span class="item-quantity">(&times;{{ item()?.quantity }})</span>
        }
        <span class="item-type">({{ item()?.type }})</span>
    </summary>

    <div>
        <div class="item-actions">
            @if ((item()?.quantity ?? 1) > 1) {
                <button type="button" title="Remove one"(click)="decreaseItemStack()"><app-down-icon/></button>
            } @else {
                <button type="button" title="Remove" (click)="removeItem()"><app-delete-icon/></button>
            }
            @if (!item()?.isContainer) {
                <button type="button" title="Add one" (click)="increaseItemStack()"><app-up-icon/></button>
            }
            <button type="button" title="Rename" (click)="showRenameItemForm()"><app-edit-icon/></button>
            <button type="button" title="Change description" (click)="showChangeDescriptionForm()"><app-description-icon/></button>
        </div>

        @if (editingName) {
            <form name="nameEdit" class="slim">
                <label>New Name
                    <input type="text" name="newName" [(ngModel)]="newName"/>
                </label>
                <button type="button" class="fantasy-btn fantasy-blue" (click)="renameItem()">Save</button>
            </form>
        }
        @if (editingDescription) {
        <form name="descriptionEdit" class="slim">
            <label>New Description
                <textarea name="newDescription" [(ngModel)]="newDescription"></textarea>
            </label>
            <button type="button" class="fantasy-btn fantasy-blue" (click)="changeDescription()">Save</button>
        </form>
    }

        @if (item()?.description !== '') {
            <p>{{ item()?.description }}</p>
        }

        @if (item()?.proficiency) {
            <div class="item-property"><strong>Proficiency:</strong> {{ item()?.proficiency }}</div>
        }
        @if (item()?.weapon_props) {
            <div class="item-property"><strong>Damage:</strong>
                {{ item()?.weapon_props?.damage?.amount }}
                {{ item()?.weapon_props?.damage?.type }}
            </div>
            @if (item()?.weapon_props?.weapon_versatility) {
                <div class="item-property"><strong>Versatile: </strong>strong>
                    {{ item()?.weapon_props?.weapon_versatility }}
                </div>
            }
            @if (item()?.weapon_props?.range?.length) {
                <div class="item-property"><strong>Range:</strong> {{ getItemRangeString() }}</div>
            }
        }
        <div class="item-property"><strong>Cost:</strong> {{ getItemCost() }}</div>

        @if (item()?.weight) {
            <div class="item-property"><strong>Weight:</strong> {{ getItemWeight() }} lbs</div>
        }

        @if (item()?.items?.length) {
            <p>Contains:</p>
            <div class="item-children">
                @for (subItem of item()?.items; track $index) {
                    <app-game-item [item]="subItem"/>
                }
            </div>
        }
    </div>
</details>
