<h2>Character Creation - Spells</h2>

<div class="char-edit-spells">
    @if (availableSpells) {
        @for (level of spellLevels; track $index) {
            @if (getSpellCountAvailableForLevel(level) > 0) {
                <details open class="spell-level">
                    <summary>
                        @if (level === 0) {
                            Cantrips
                        } @else {
                            Spell Level {{ level }}
                        }
                        <em>(pick {{ getSpellCountAvailableForLevel(level) }})</em>
                    </summary>

                    <ul>
                        @for (spell of getAvailableSpellsByLevel(level); track spell.id) {
                            <li class="spell">
                                <input type="checkbox" id="spell_{{ spell.id }}" value="{{ spell.id }}" class="accessible-hidden"/>
                                <label for="spell_{{ spell.id }}">
                                    <div [className]="'spell-school-icon spell-school-' + spell.school.name.toLowerCase()">
                                        <app-spell-school-icon spellSchoolName="{{ spell.school.name.toLowerCase() }}"/>
                                    </div>
                                    <div class="spell-details">
                                        <div class="spell-name">{{ spell.name }}</div>
                                        <div class="spell-description">{{ spell.description }}</div>
                                        <table class="spell-details">
                                            <tr>
                                                <th>School</th>
                                                <th>Range</th>
                                                <th>Casting time</th>
                                                <th>Duration</th>
                                                <th>Components</th>
                                            </tr>
                                            <tr>
                                                <td>{{ spell.school.name }}</td>
                                                <td>{{ spell.range }} ft</td>
                                                <td>{{ spell.cast_time.value }} {{ spell.cast_time.unit }}</td>
                                                <td>{{ (spell.duration.value === 0) ? '' : spell.duration.value }}
                                                    {{ spell.duration.unit }}</td>
                                                <td>
                                                    @for (component of spell.components; track $index) {
                                                        <div class="spell-component {{ component.toLowerCase() }}">
                                                            <app-spell-component-icon spellComponentName="{{ component }}"/>
                                                            {{ component }}
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </label>
                            </li>
                        }
                    </ul>
                </details>
            }
        }
    }
</div>
