<h2>Character Creation - Spells</h2>

<div class="char-edit-spells">
    <input type="checkbox" name="detailedView" id="detailedView" class="accessible-hidden"/>

    @if (availableSpells) {
        <div class="spell-actions-container">
            <label class="detailed-view-checkbox" for="detailedView">Show detailed view?</label>

            <button type="button" class="fantasy-btn fantasy-blue" (click)="setSpells()">Set Spells</button>
        </div>

        @if (selectedSpellCountError) {
            <p class="error">You must select all spells available for each level.</p>
        }
    }

    @if (getKnownSpells().length > 0) {
        <details class="spell-level">
            <summary>Known Spells <em>({{ getKnownSpells().length }} known)</em></summary>
            <p>These are spells known to your character by default, typically because of their race.</p>
            <ul>
                @for (spell of getKnownSpells(); track $index) {
                    <li class="spell">
                        <app-edit-character-spell [spell]="spell"/>
                    </li>
                }
            </ul>
        </details>
    }

    <p>Select your spells</p>
    @if (availableSpells) {
        @for (level of spellLevels; track $index) {
            @if (getSpellCountAvailableForLevel(level) > 0) {
                <details open class="spell-level">
                    <summary>
                        @if (level === 0) {
                            Cantrips
                        } @else {
                            Spell Level {{ level }}
                        }
                        <em>({{ getSelectedAtLevelCount(level) }} of {{ getSpellCountAvailableForLevel(level) }} selected)</em>
                    </summary>

                    <ul>
                        @for (spell of getAvailableSpellsByLevel(level); track spell.id) {

                            @if (!otherKnownSpellIds.includes(spell.id)) {
                                <li class="spell">
                                    <button type="button" (click)="selectSpell(spell)" [class.selected]="isSpellSelected(spell)">
                                        <app-edit-character-spell [spell]="spell"/>
                                    </button>
                                </li>
                            }
                        }
                    </ul>
                </details>
            }
        }

        @if (selectedSpellCountError) {
            <p class="error">You must select all spells available for each level.</p>
        }

        <div class="spell-actions-container">
            <button type="button" class="fantasy-btn fantasy-blue" (click)="setSpells()" #lastFocus>Set Spells</button>
        </div>
    }
</div>
