<h2>Character Creation - Spells</h2>

<div class="char-edit-spells">
    @if (availableSpells) {
        @for (level of spellLevels; track $index) {
            @if (getSpellCountAvailableForLevel(level) > 0) {
                <details open class="spell-level">
                    <summary>
                        @if (level === 0) {
                            Cantrips
                        } @else {
                            Spell Level {{ level }}
                        }
                        <em>(pick {{ getSpellCountAvailableForLevel(level) }})</em>
                    </summary>

                    <ul>
                        @for (spell of getAvailableSpellsByLevel(level); track spell.id) {
                            <li class="spell">
                                @if (!otherKnownSpellIds.includes(spell.id)) {
                                    <button (click)="selectSpell(spell)" [class.selected]="isSpellSelected(spell)">
                                        <app-edit-character-spell [spell]="spell"/>
                                    </button>
                                }
                            </li>
                        }
                    </ul>
                </details>
            }
        }
    }
</div>
