<h2>Character Creation - Class</h2>

<div class="char-edit-class-list">
    <ul>
        @for (charClass of charClasses; track charClass.id) {
            <li [class.selected]="charClass.name === characterService.character?.charClass">
                <button class="char-class" (click)="selectCharClass(charClass.id, $event)">
                    <span class="char-class-icon char-class-{{ charClass.name.toLowerCase() }}">
                        <app-char-class-icon charClassName="{{ charClass.name }}"></app-char-class-icon>
                    </span>
                    <span class="char-class-name">{{ charClass.name }}</span>
                </button>
            </li>
        }
    </ul>

    <app-confirm
        heading="{{ getClassBySelectionId().name }}"
        (confirmClass)="confirmSelectedClass()"
        #confirmComponent
    >
        <div class="char-class-details">
                <p>{{ getClassBySelectionId().description }}</p>

                <p class="char-class-stats">
                    <strong>Hit points at first level:</strong>
                        <span>{{ getClassBySelectionId().hit_points_at_first_level }}</span>
                    <br/>
                    <strong>Hit dice per level:</strong>
                        <span>d{{ getClassBySelectionId().hit_die }}</span>
                    <br/>
                    <strong>{{ getPrimaryAbilityStrings()[0] }}:</strong>
                        <span>{{ getPrimaryAbilityStrings()[1] }}</span>
                    <br/>
                    <strong>Saving throws:</strong>
                        <span>{{ getSavingThrows() }}</span>
                </p>

                @if (hasPathSelection()) {
                    @if (selectPathError) {
                        <p class="error">You must select a path for your chosen class at the current character level.</p>
                    }

                    <div class="path-selection">
                        <p><strong>Class Path:</strong> {{ getClassBySelectionId().path.name }},
                            <em>selected at level {{ getClassBySelectionId().path.level }}.</em></p>
                        <p [innerHTML]="getClassBySelectionId().path.description"></p>
                        <p><em>Please select a path:</em></p>

                        <ul class="char-class-features">
                            @for (path of getClassBySelectionId().path.paths; track path.id) {
                                <li class="path-selection-option">
                                    <input
                                        type="radio"
                                        name="path-{{ getClassBySelectionId().id }}"
                                        value="{{ path.id }}"
                                        id="path-{{ getClassBySelectionId().id }}-{{ path.id }}"
                                        [checked]="characterService.character?.selected_class_path?.id === path.id"
                                    />
                                    <label for="path-{{ getClassBySelectionId().id }}-{{ path.id }}">
                                        <span class="accessible-hidden">{{ path.name }}</span>
                                    </label>
                                    <details class="char-class-path-features">
                                        <summary>{{ path.name }}
                                            <app-char-class-feature-icon charClassFeatureName="path"/>
                                        </summary>

                                        <div class="char-class-path-features-content">
                                            <p>{{ path.name }} features:</p>
                                            @for (feature of path.features; track feature.id) {
                                                <details>
                                                    <summary>{{ feature.name }}
                                                        <span class="char-class-feature-level">
                                                            ({{ feature.level }}{{ getLevelSuffix(feature.level)}} level)</span>
                                                        <app-char-class-feature-icon charClassFeatureName="{{ feature.type }}"/>
                                                    </summary>
                                                    <div class="char-details-content" [innerHTML]="feature.description"></div>
                                                </details>
                                            }
                                        </div>
                                    </details>
                                </li>
                            }
                        </ul>
                    </div>
                }

                <strong>Class proficiencies:</strong>
                <ul class="char-class-features">
                    <li>
                        <details>
                            <summary>Armor <app-char-class-feature-icon charClassFeatureName="armor"/></summary>
                            <div class="char-details-content">
                                <p>{{ getArmorProficiencies() }}</p>
                            </div>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Weapons <app-char-class-feature-icon charClassFeatureName="weapons"/></summary>
                            <div class="char-details-content">
                                <p>{{ getWeaponProficiencies() }}</p>
                            </div>
                        </details>
                    </li>
                    @if (getTools().length > 0) {
                        <li>
                            <details>
                                <summary>Tools <app-char-class-feature-icon charClassFeatureName="tools"/></summary>
                                <div class="char-details-content">
                                    @if (canUserPickFromTools()) {
                                        <p>Pick {{ getToolSelectionCount() }} tools:</p>
                                        <ul class="tools-list">
                                            @for (tool of getTools(); track tool.id) {
                                                <li>{{ tool.name }}</li>
                                            }
                                        </ul>
                                    } @else {
                                        <p>You gain proficiency with the following tools:</p>
                                        <ul class="tools-list">
                                            @for (tool of getTools(); track tool.id) {
                                                <li>{{ tool.name }} ({{ tool.type }})</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </details>
                        </li>
                    }
                </ul>

                <strong>Class features by level:</strong>
                <ul class="char-class-features">
                    @for (feature of getClassBySelectionId().class_features; track feature.id) {
                        <li>
                            <details>
                                <summary>{{ feature.name }}
                                    <span class="char-class-feature-level">
                                        ({{ feature.level }}{{ getLevelSuffix(feature.level)}} level)</span>
                                    <app-char-class-feature-icon charClassFeatureName="{{ feature.type }}"/>
                                </summary>
                                <div class="char-details-content" [innerHTML]="feature.description"></div>
                            </details>
                        </li>
                    }
                </ul>
        </div>
    </app-confirm>
</div>
