$black: #000;
$white: #fff;
$dark-grey: #333;
$really-light-grey: #f3f3f3;
$grey: #666;
$medium-grey: #999;

// primary buttons
$primary-btn-0: #14211a;
$primary-btn-50: #2696bb;
$primary-btn-50-2: #0e6789;
$primary-btn-100: #0b2c35;
$primary-btn-border: #b1a27b;
$primary-btn-text: $white;
