@use "colours";

form {
    border: 1px solid colours.$grey;
    border-radius: .5rem;
    box-shadow: 2px 2px 7px colours.$medium-grey;
    padding: 1rem;
}

label.aligned {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

button {
    &.primary-btn,
    &.secondary-btn {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 100%;
        gap: 0.5rem;
        padding: .5rem 1rem;
    }

    &.primary-btn {
        background-image: linear-gradient(
                180deg,
                colours.$primary-btn-0 0%,
                colours.$primary-btn-50 50%,
                colours.$primary-btn-50-2 50%,
                colours.$primary-btn-100 100%
        );
        border: 2px solid colours.$primary-btn-border;
        color: colours.$primary-btn-text;

        &:hover {
            background-image: linear-gradient(
                    180deg,
                    lighten(colours.$primary-btn-0, 20%) 0%,
                    lighten(colours.$primary-btn-50, 20%) 50%,
                    lighten(colours.$primary-btn-50-2, 20%) 50%,
                    lighten(colours.$primary-btn-100, 20%) 100%
            );
        }
    }

    &.secondary-btn {
        background-image: linear-gradient(
                180deg,
                colours.$secondary-btn-0 0%,
                colours.$secondary-btn-50 50%,
                colours.$secondary-btn-50-2 50%,
                colours.$secondary-btn-100 100%
        );
        border: 2px solid colours.$secondary-btn-border;
        color: colours.$secondary-btn-text;

        &:hover {
            background-image: linear-gradient(
                    180deg,
                    lighten(colours.$secondary-btn-0, 20%) 0%,
                    lighten(colours.$secondary-btn-50, 20%) 50%,
                    lighten(colours.$secondary-btn-50-2, 20%) 50%,
                    lighten(colours.$secondary-btn-100, 20%) 100%
            );
        }
    }

    &[type=submit] {
        margin-top: 2rem;
    }
}

.input-attached-button-aligned {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    label {
        margin-bottom: 0;
    }
}

button.button-link {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type=text],
input[type=number] {
    border: solid 1px colours.$grey;
    border-radius: .25rem;
    font-size: 100%;
    padding: .5rem;
}

select {
    font-size: 100%;
    padding: .5rem;
}

button.dice-icon {
    appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    height: 2rem;
    margin: .25rem;
    width: 2rem;

    &.dice-icon-4 {
        background-image: url("/images/dice/d4.png");
    }

    &.dice-icon-6 {
        background-image: url("/images/dice/d6.png");
    }

    &.dice-icon-8 {
        background-image: url("/images/dice/d8.png");
    }

    &.dice-icon-10 {
        background-image: url("/images/dice/d10.png");
    }

    &.dice-icon-12 {
        background-image: url("/images/dice/d12.png");
    }

    &.dice-icon-20 {
        background-image: url("/images/dice/d20.png");
    }
}

button .dice-d6-icon {
    background-image: url("/images/dice/d6.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

.error {
    background-color: colours.$error-background;
    border: 1px solid colours.$error-border;
    color: colours.$error-text;
    padding: .5rem;
}
