@use "colours";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}

.char-create-content-container {
    display: grid;
    grid-template-columns: 10rem auto;

    .side-nav {
        border-right: 2px solid colours.$dark-grey;
    }
}

.char-content-container {
    main {
        padding: .5rem;
    }
}

h2 {
    background-image: url('/images/beholder.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Lugrasimo", serif;
    margin-top: .5rem;
    padding-left: 2.5rem;
}

.accessible-hidden {
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.ucfirst {
    text-transform: capitalize;
}
